/* tutta roba da cancellare */
header.container-fluid{
    background-color: rgb(44, 62, 80);
}

header.container-fluid div.row{
    height: 80px;
}

header.container-fluid div.col-lg-8{

    height: 60px;
}


main section{
    height: 500px;
}



section div.bg-danger{
    border: 2px solid greenyellow;
    height: 50px;
}

/*attributi da mantenere */


nav.navbar,
nav.navbar > div.container-fluid{
    padding: 0rem;
}

.my-bg-color{
    background-color: rgb(26, 188, 156);
}

.my-hr{
    border: 1px solid white;
}

#cv-avatar{
    width: 250px;
}