body{
    overflow-x: hidden;
}

header.container-fluid{
    background-color: rgb(44, 62, 80);
}

img{
    width: 100%;
    border-radius: 10px;
}

p.text-uppercase{
    font-size: 1.6rem;
}

div.btn{
    width: 125px;
}

div.my-bg-footer-bottom{
    height: 100px;
}


.my-bg-color{
    background-color: rgb(26, 188, 156);
}

.my-bg-footer-up{
    background-color: rgb(58, 84, 109)
}

.my-bg-footer-bottom{
    background-color: rgb(44, 62, 80);
}

.my-hr,
.my-hr-black{
    height: 4px;
    width: 27%;
    border-radius: 2px;
}

.my-hr{
    border: 1px solid white;
    background-color: white;
}

.my-hr-black{
    border: 1px solid black;
    background-color: black;
}

.my-full-width{
    width: 46%;
}

.my-fs-4r{
    font-size: 4rem;
}

.my-fw{
    font-weight: 600;
}



#cv-avatar{
    width: 250px;
}

@media screen and (max-width: 576px){
    
    .my-fs-4r{
        font-size: 3rem;
    }

    p.text-uppercase{
        font-size: 1.2rem;
    }

}